/* N2 */
p {
    color: aqua;
    background-color: brown;
}

/* N3 */
.header1{
    color: rgb(73, 161, 73);
    background-color: rgb(197, 170, 22);
}

/* N4 */
#idk1{
    color: #122341;
    background-color: #dab812;
}

#idk2{
    color: #158690;
    background-color: #958124;
}

#idk3{
    color: #940512;
    background-color: #756142;
}

#idk4{
    color: #758230;
    background-color: #964530;
}

#idk5{
    color: #591234;
    background-color: #461465;
}

