button  {
    color: rgb(255, 0, 0);
    background-color: blue;
}

.Hello {
    color: rgb(2, 6, 240);
    background-color: chartreuse;
}

#yo {
    background-color: blanchedalmond;
    color: aqua;
    display: flex;
}