* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box1 {
    background-color: blue;
    border: 2px solid;
    width: 200px;
    height: 200px;
}

#box1:hover {
    transform: translateX(50px);
}

#box2 {
    background-color:red ;
    border: 2px solid;
    width: 200px;
    height: 200px;
}

#box2:hover {
    transform: scaleX(2);
}

#box3 {
    background-color: aqua;
    border: 2px solid;
    width: 200px;
    height: 200px;
}

#box3:hover {
    transform: skewX(20deg);
}

#box4 {
    background-color:purple;
    border: 2px solid;
    width: 200px;
    height: 200px;
}

#box4:hover {
    transform: rotateX(220deg);
}